absl-py
astunparse
attrs
cached-property
cachetools
certifi
charset-normalizer
clang
cloudpickle
colorama
cycler
Cython
decorator
dill
dm-tree
flatbuffers
future
gast
gin-config
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
imageio
importlib-metadata
importlib-resources
joblib
kaggle
keras
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
meta-dataset
numpy
oauth2client
oauthlib
opencv-python-headless
opt-einsum
pandas
Pillow
portalocker
promise
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1-modules
pycocotools
pyparsing
python-dateutil
python-slugify
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
sacrebleu
scikit-learn
scipy
sentencepiece
seqeval
six
sklearn
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-gpu
tensorflow-hub
tensorflow-metadata
tensorflow-model-optimization
tensorflow-probability
tensorflow-text
termcolor
text-unidecode
tf-models-official
tf-slim
threadpoolctl
torch
torchvision
tqdm
typeguard
typing-extensions
uritemplate
urllib3
Werkzeug
wrapt
zipp
